---
title: Angular Textarea
layout: ./source/_layout.html
engine: ejs
---

<link rel="stylesheet" href="../stylesheets/secret.css">
<script src="https://code.angularjs.org/1.4.3/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>
<script src="../textArea/all.js"></script>
<script src="../textArea/elastic.js"></script>
<style>
	textarea {
		resize: none;
	}

	.animate:focus {
      -webkit-transition: height 50ms ease-in-out;
         -moz-transition: height 50ms ease-in-out;
           -o-transition: height 50ms ease-in-out;
              transition: height 50ms ease-in-out;
    }
</style>
<div class="container">
	<div class="mtxl row" ng-controller="ngFormCtrl">
		<form class="col-sm-8 col-sm-offset-2" name="ngForm1" novalidate ng-submit="ok(modal1)">
			<textarea name="" cols="30" rows="5" class="form-control animate msd-elastic: \n;" ng-model="temp.text">
			</textarea>
			<div class="form-group text-right mtl">
				<button class="btn btn-success" type="submit" ng-disabled="ngForm1.$invalid">確認</button>
			</div>
			<div ng-repeat="item in data">
				<p ng-bind-html="item.text| noHTML | newlines"></p>
			</div>


			<pre ng-bind="data| json">

			</pre>
			<pre ng-bind="temp| json">

			</pre>
			<p>斷行：http://plnkr.co/edit/?p=preview</p>
			<p>自動延展：https://github.com/monospaced/angular-elastic</p>
		</form>

	</div>
</div>
