<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Angular Textarea</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
<link rel="stylesheet" href="../stylesheets/secret.css">
<script src="https://code.angularjs.org/1.4.3/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>
<script src="../textArea/all.js"></script>
<script src="../textArea/elastic.js"></script>
<style>
	textarea {
		resize: none;
	}

	.animate:focus {
      -webkit-transition: height 50ms ease-in-out;
         -moz-transition: height 50ms ease-in-out;
           -o-transition: height 50ms ease-in-out;
              transition: height 50ms ease-in-out;
    }
</style>
<div class="container">
	<div class="mtxl row" ng-controller="ngFormCtrl">
		<form class="col-sm-8 col-sm-offset-2" name="ngForm1" novalidate ng-submit="ok(modal1)">
			<textarea name="" cols="30" rows="5" class="form-control animate msd-elastic: \n;" ng-model="temp.text">
			</textarea>
			<div class="form-group text-right mtl">
				<button class="btn btn-success" type="submit" ng-disabled="ngForm1.$invalid">確認</button>
			</div>
			<div ng-repeat="item in data">
				<p ng-bind-html="item.text| noHTML | newlines"></p>
			</div>


			<pre ng-bind="data| json">

			</pre>
			<pre ng-bind="temp| json">

			</pre>
			<p>斷行：http://plnkr.co/edit/?p=preview</p>
			<p>自動延展：https://github.com/monospaced/angular-elastic</p>
		</form>

	</div>
</div>

  <nav style="
  	position: fixed;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	z-index: 99999999;
	background-color: rgba(255, 255, 255, .8);
	padding: 8px 15px;
	font-size: 14px;
  ">
  	<div>
  		<a href="../">FrontendWorkshop</a>
  		<span style="color: #ccc"> | </span>
  		<span style="color: #999">Angular Textarea</span>
  	</div>
  </nav>
</body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '556473851118881',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-43235390-2']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</html>