$warp-size: 300px;
$box-size: 30vw;

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body, html {
  height: 100%;
  width: 100%;
}
body {
  @extend %center;
  flex-direction: column;
}
.border {
  border: 1px solid #ccc;
}
.wrap {
  padding: 10vw;
  perspective: 600px;
  flex-direction: column;
  @extend %center;
}
.box {
  position: relative;
  transform-style: preserve-3d;
  height: $box-size;
  width: $box-size;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border: 1px solid red;
  &:after, &:before {
    content: "";
    position: absolute;
    left: -$box-size/2;
    right: -$box-size/2;
    border-top: #333 dashed 1px;
    top: 50%;
  }
  &:after {
    transform: rotate(90deg);
  }
}
.content {
  width: $box-size*2;
  max-width: 100%;
  margin-top: 60px;
}

.cube {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: .6;
  border: 2px solid white;
  @extend %center;
}

// faces
.cube-front {
  background: Aquamarine;
  transform: translate3d(0, 0, $box-size/2);
}
.cube-back {
  background: LightSkyBlue;
  transform: rotateY(180deg) translate3d(0, 0, $box-size/2);
}
.cube-left {
  background: LightPink;
  transform: rotateY(-90deg) translate3d(0, 0, $box-size/2);
}
.cube-right {
  background: Magenta;
  transform: rotateY(90deg) translate3d(0, 0, $box-size/2);
}
.cube-top {
  background: PaleGreen;
  transform: rotateX(90deg) translate3d(0, 0, $box-size/2);
}
.cube-bottom {
  background: DarkViolet;
  transform: rotateX(-90deg) translate3d(0, 0, $box-size/2);
}
